@model ShopManagement.Models.Customer
@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Customer</h2>
<div class="login-form ">
    @using (Html.BeginForm(null, "Home", FormMethod.Post, new { id = "SaveStudent", @class = "" }))
    {
        //Name
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.Name)
            </div>

            <div class="col-md-8">
                @Html.TextBoxFor(c => c.Name, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        //Customer code
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.CustomerId)
            </div>

            <div class="col-md-8">
                @Html.TextBoxFor(c => c.CustomerId, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.CustomerId)
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 text-right">
                <input type="submit" value="Save" class="btn btn-info"/>

            </div>
            <label class="label label-success">@ViewBag.Message</label>
        
        </div>
    }
 </div>

